.ModalAddClient {
    position: absolute;
}

.ModalAddClient .dark_bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 1001;
    background: var(--alpha-slate);
}

.ModalAddClient .title {
    position: relative;
    background: var(--slate-200);
    box-shadow: 0 0 0;
}

.ModalAddClient .close_modal {
    position: absolute;
    right: 20px;
    cursor: pointer;
    -webkit-text-stroke: 1px;
}

.ModalAddClient form {
    position: fixed;
    top: 80px;
    left: 50%;
    z-index: 1002;
    width: 500px;
    background: var(--white);
    transform: translateX(-50%);
    box-shadow: .5rem .5rem .5rem var(--slate-700);
}

.ModalAddClient form .form_item {
    display: flex;
    align-items: center;
    margin: 10px 20px;
    padding: 3px 5px;
    border-bottom: 1px solid var(--slate-300);
}

.ModalAddClient form .form_item p {
    width: 400px;
    font-size: 1.1rem;
    border-right: 1px solid var(--slate-300);
}

.ModalAddClient form .form_item input {
    width: 100%;
    margin-left: 10px;
    padding: 5px;
    font-size: 1.1rem;
}

.ModalAddClient form .form_item:last-child {
    position: relative;
    padding: 20px 10px;
    border: none;
    text-align: center;
}

.ModalAddClient form .form_item:last-child input {
    position: absolute;
    right: 0;
    width: 100px;
}
