.StoryPage {
    margin: 150px 50px;
    display: flex;
    align-items: flex-start;
}

.StoryPage .btn.profile {
    position: fixed;
    z-index: 1001;
    top: 5%;
    right: 9.5%;
    width: 80px;
    text-align: center;
}

.StoryPage table {
    width: 700px;
    border-collapse: collapse;
    margin-right: 5rem;
    margin-bottom: 20px;
}

.StoryPage table th,
.StoryPage table td {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid var(--slate-700);
    padding: 8px;
    text-align: center;
}

.StoryPage table td:nth-child(2):not(:last-child) {
    text-align: left;
}

.StoryPage table .total {
    text-align: left;
    font-weight: bold;
}

.StoryPage table .total_amount {
    font-weight: bold;
}

.StoryPage table th {
    background-color: var(--slate-300);

}

.StoryPage tr:hover {
    background-color: var(--light-yellow);
}

.StoryPage .years {
    background: lightgoldenrodyellow;
    position: relative;
}

.StoryPage .years .years_title {
    font-size: 1.2rem;
}

.StoryPage .years .years_container {
    background: red;
    user-select: none;
    position: absolute;
    top: 120%;
    left: 0;
    width: 350px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    border: 1px solid;
    background: var(--light-yellow);
    box-shadow: .1rem .2rem .5rem var(--slate-700);
}

.StoryPage .years .years_container p {
    padding: 5px;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.StoryPage .years .years_container p:hover {
    background: var(--slate-300);
    cursor: pointer;
}