.StoryPage {
    margin: 150px 50px;
    display: flex;
}

.StoryPage table {
    width: 750px;
    border-collapse: collapse;
    margin-right: 5rem;
}

.StoryPage table thead tr {
    border-bottom: 1px solid var(--slate-700);
}

.StoryPage table th,
.StoryPage table td {
    border-left: 1px solid var(--slate-300);
    padding: 8px;
    font-size: 1.1rem;
    text-align: center;
}

.StoryPage table th:first-child,
.StoryPage table td:first-child {
    border: none;
}

.StoryPage table tbody tr:nth-child(odd) {
    background: var(--slate-200);
}

.StoryPage table tbody tr.total {
    text-align: left;
    font-weight: bold;
}

.StoryPage table tbody tr.total td:first-child {
    text-align: left;
}

.StoryPage table tbody tr:hover {
    background-color: var(--slate-300);
}


/* ============================ years ============================ */
.StoryPage .years {
    position: relative;
    user-select: none;
}

.StoryPage .years .years_title {
    font-size: 1.2rem;
}

.StoryPage .years .years_container {
    position: absolute;
    top: 30%;
    left: 0;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .5rem;
    border: 1px solid;
    text-align: center;
    background: var(--slate-200);
    border-radius: 10px;
    box-shadow: .1rem .2rem .5rem var(--slate-700);
}

.StoryPage .years .years_container p {
    padding: 5px 8px;
    border-radius: 8px;
    font-size: 1.2rem;
}

.StoryPage .years .years_container p:hover {
    background: var(--slate-300);
    cursor: pointer;
}
